<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Date Picker Suite" parallel="tests" thread-count="2">

    <!-- Listener -->
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>


    <test name="Date Test - Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.DateTests"/>
        </classes>
    </test>

    <test name="Date Test - Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.DateTests"/>
        </classes>
    </test>
    <test name="Date Test - WebKit (Safari)">
        <parameter name="browser" value="webkit"/>
        <classes>
            <class name="tests.DateTests"/>
        </classes>
    </test>
</suite>
